@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 9%;
    --foreground: 0 0% 96%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 96%;
    --primary: 40 62% 54%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 13%;
    --secondary-foreground: 0 0% 83%;
    --muted: 0 0% 22%;
    --muted-foreground: 0 0% 64%;
    --accent: 199 51% 37%;
    --accent-foreground: 0 0% 96%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 22%;
    --input: 0 0% 22%;
    --ring: 40 62% 54%;
    --radius: 0.5rem;
  }
}
